*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid {
  overflow: hidden;
  width: 100%; }
  .grid:after {
    content: "";
    clear: both; }
  .grid .col-1 {
    width: 8.33333%; }
    @media screen and (max-width: 768px) {
      .grid .col-1 {
        width: 100%; } }
  .grid .col-2 {
    width: 16.66667%; }
    @media screen and (max-width: 768px) {
      .grid .col-2 {
        width: 100%; } }
  .grid .col-3 {
    width: 25%; }
    @media screen and (max-width: 768px) {
      .grid .col-3 {
        width: 100%; } }
  .grid .col-4 {
    width: 33.33333%; }
    @media screen and (max-width: 768px) {
      .grid .col-4 {
        width: 100%; } }
  .grid .col-5 {
    width: 41.66667%; }
    @media screen and (max-width: 768px) {
      .grid .col-5 {
        width: 100%; } }
  .grid .col-6 {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .grid .col-6 {
        width: 100%; } }
  .grid .col-7 {
    width: 58.33333%; }
    @media screen and (max-width: 768px) {
      .grid .col-7 {
        width: 100%; } }
  .grid .col-8 {
    width: 66.66667%; }
    @media screen and (max-width: 768px) {
      .grid .col-8 {
        width: 100%; } }
  .grid .col-9 {
    width: 75%; }
    @media screen and (max-width: 768px) {
      .grid .col-9 {
        width: 100%; } }
  .grid .col-10 {
    width: 83.33333%; }
    @media screen and (max-width: 768px) {
      .grid .col-10 {
        width: 100%; } }
  .grid .col-11 {
    width: 91.66667%; }
    @media screen and (max-width: 768px) {
      .grid .col-11 {
        width: 100%; } }
  .grid .col-12 {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .grid .col-12 {
        width: 100%; } }

[class*='col-'] {
  float: left;
  min-height: 1px; }
